/* Main Styles */
body {
  font-family: Helvetica;
  font-size: 18px;
  color: #000;
  line-height: 1.4;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  /*border: 2px solid black;*/

}



/* Header styles */


header {
 background-image: url("../images/glasses-bg.png");
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 width: 100%;
 height: 30rem;
 display: flex;
 justify-content: center;
 /*border: 5px solid green;*/
}

.container {
  /*background-color: pink;*/
  width: 960px;
  /*border: 3px solid blue;*/
  /*margin-top: 1rem;*/
}

/* Navigation styles */

.navbar {
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  /*width: auto;*/
  /*position: fixed;*/
  /*border: 2px dotted yellow;*/
}

.logo {
  /*background-color: lightblue;*/
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  color: #fff;
}

.logo img {
  height: 1.5rem;
  padding: 1rem;
  width: auto;
}

.menu {
  /*background-color: lightgreen;*/
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.menu a {
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #fff;
  text-decoration: none;
}

.menu .hidden_menu {
  display: none;
  visibility: hidden;
}

/* Main Hero div */
.main_bg {
  /*border: 2px solid red;*/
  width: 32rem;
  /*position: fixed;*/
  /*z-index: 500;*/
  margin-top: 10rem;
  margin-left: 25rem;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem .5rem 1.5rem 5rem;
}

/* Service Area Styles */

.centered {
  display: flex;
  justify-content: center;
}

.service_grid {
  /*background-color: yellow;*/
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
}

.service {
  height: 6rem;
  width: 8rem;
  border: 1 px solid red;
  color: #000;
  /*background-color: green;*/
  text-align: center;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
}

.service p {
  font-size: .9rem;
  font-weight: bold;
}

.exam_img img {
  width: 3.5rem;
  margin-bottom: 1rem;
}


.fit_img img {
  width: 5rem;
  margin-bottom: 1rem;
}

.deliver_img img {
  width: 5rem;
  margin-bottom: 1rem;
}

/* Company info styles */

.company_info {
  display: flex;
  justify-content: space-around;
}

.info {
  width: 35%;
  margin-top: 5rem;
  margin-bottom: 9rem;
}

.company_headline {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: .5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

/* Footer Styles */

footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4rem;
}

.footer_copy {
  /*background-color: lightblue;*/
  display: flex;
  flex-direction: row;

}

footer img {
  height: 1.5rem;
  padding-right: 1rem;
}

/* ***** Media Queries ************* */

@media only screen and (max-width: 1024px) {
  header {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  }

    .container {
      width: 100%;
    }

    .navbar {
      margin-top: 0;
    }

    .main_bg {
      /*border: 2px solid red;*/
      width: 20rem;
      /*position: fixed;*/
      /*z-index: 500;*/
      margin-top: 5rem;
      margin-left: 25rem;
      margin-right: 2rem;
      background-color: #fff;
      text-transform: uppercase;
      font-size: 1.33rem;
      font-weight: bold;
      padding: .75rem 4rem .75rem 4rem;
    }

    footer {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 4rem;
      margin-left: 4rem;
      /*border: 2px solid red;*/
    }
} /* end 1024max-width media query */

@media only screen and (max-width: 480px) {

  header {
  /*background-image: url("../images/glasses-bg.png");*/
  /*background-repeat: no-repeat;*/
  /*background-position: center;*/
  /*background-size: cover;*/
  width: 100%;
  height: 17rem;
  /*display: flex;*/
  }

  .container {
    width: 100%;
  }

  .menu .hidden_menu {
    display: block;
    visibility: visible;
  }

  .menu .visible_menu {
    display: none;
    visibility: hidden;
  }

  .main_bg {
    /*border: 2px solid red;*/
    width: 100%;
    /*position: fixed;*/
    /*z-index: 500;*/
    margin-top: 9rem;
    margin-left: .005rem;
    margin-right: 2rem;
    background-color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    padding: .75rem 4rem .75rem 4rem;
  }

  .logo p {
    display: none;
    visibility: hidden;
  }

  .service_grid {
    /*background-color: yellow;*/
    height: 20rem;
    margin-top: 3.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .service {
    height: 6rem;
    width: 8rem;
    /*border: 1 px solid red;*/
    color: #000;
    /*background-color: green;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .service p {
    font-size: .77rem;
  }

  .svc_desc {
    margin-top: -1rem;
  }

  .company_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info {
    width: 90%;
    margin-top: 4rem;
    margin-bottom: 9rem;
  }

  .company_headline {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    padding: .5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
  }

  .appt {
    margin-top: -8rem;
  }

  .body_copy {
    font-size: .77rem;
  }

  .copyright{
    display: none;
    visibility: hidden;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
  }

}
